
.home {
  font-size: 27px;
  font-weight: bold;
  padding: 10px 16px;
  border: 2px solid
  #04AA6D;
  background-color: #00cc8191;
 }
.subtutilo {
font-size: 27px;
font-weight: bold;
}
.vertical-menu {
  width: 250px; /* Set a width if you like */
  position: fixed;  
  top: 30px;  
  left: 15px;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a:active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}
.vertical-menu {
  width: 250px;
  height: 100%;
  overflow-y: auto;
}
.main-section {
  position: static;
  margin-left: 280px;
  line-height:30px;
  padding: 20px 40px 0px 30px;
}

.formula {
    background-color: #ccc;
    font-size: 17px;
    text-align: center;
    padding: 15px 30px; 

}

.end {
position: static;
margin-left: 280px;
line-height:30px;
padding: 20px 40px 0px 30px;
}

.bibliografia {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.linea {
  border: 2px dashed #04AA6D;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 500px) {
  .vertical-menu {
    position:absolute;
    justify-items: center;
    width: 340px;
    margin-left: 50px;
  }
  .text {
    margin-top: 460px;
  }
  .main-section {
    margin-left: 0%;
  }
  .bibliografia {
    margin-left: -250px;
  }
}
